<div class="form-parent">
  <mat-card>
    <mat-card-title>Login</mat-card-title>
    <mat-card-content>
      <form [formGroup]="loginForm" (ngSubmit)="submit()">
        <p>
          <mat-form-field class="mat-form-field">
            <input
              type="text"
              matInput
              placeholder="email"
              formControlName="email"
            />
            <mat-error
              *ngIf="
                loginForm.get('email')?.touched &&
                loginForm.get('email')?.invalid
              "
            >
              Email is required
            </mat-error>
          </mat-form-field>
        </p>
        <p>
          <mat-form-field class="mat-form-field">
            <input
              type="password"
              matInput
              placeholder="Password"
              formControlName="password"
            />
            <mat-error
              *ngIf="
                loginForm.get('password')?.touched &&
                loginForm.get('password')?.invalid
              "
            >
              Password is required
            </mat-error>
          </mat-form-field>
        </p>
        <!-- <mat-spinner *ngIf="isLoading"></mat-spinner> -->
        <p *ngIf="authError && !isLoading" class="error">
          Incorrect username or password
        </p>
        <div class="button">
          <button type="button" mat-button (click)="onRegisterClick()">
            Register
          </button>
          <button type="submit" mat-button [disabled]="isLoading">Login</button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>
