<div class="container">
  <header>
    <h1>Welcome to Task manager</h1>
  </header>
  <main>
    <section class="project-description">
      <h2>Project Description</h2>
      <p>
        This is a simple project that demonstrates create, read, update, and
        delete logic on both the front-end and the back-end. It utilizes routing
        and guard protection for '/user' routes. Additionally, it showcases the
        use of services for communication with the back-end.
      </p>
      <p>
        In the navigation bar, click on the 'Tasks' button and create an
        account.
      </p>
    </section>
  </main>
  <footer>
    <p>1.10.2023. Erik Birt.</p>
  </footer>
</div>
